.card-container{
    height: max-content;
    width: 33%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
    padding: 1rem 1.5rem;
    border-radius: 20px;
}
.card-container h2,.card-container p{
    margin: 0;
}