.cards-container{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

.dashboard-container {
    width: 84.4vw;
    margin-right: 5rem;
    padding: 3rem 3rem; 
}

.dashboard-container h2, .dashboard-container p {
    margin: 0;
}

.dashboard-header-container h2 {
    font-size: 35px;
    margin-bottom: 5px;
}

.dashboard-header-container p {
    color: rgba(0, 0, 0, 0.692);
}


.schedule-container h2, .schedule-container h3, .schedule-container h4, .schedule-container h5 .schedule-container p {
    margin: 0;
}

.schedule-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.schedule-card-container {
    width: max-content;
    padding: 1.5rem 1.5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.329);
    border-radius: 12px;
    height: max-content;
}

.schedule-card-header p {
    color: rgba(0, 0, 0, 0.473);
    font-size: 12px;
    border: solid 1px rgba(0, 0, 0, 0.473);
    padding: 0.2rem;
    width: max-content;
}

.up-header {
    padding-left: 15px;
}

.schedule-card-header h5 {
    margin: 0;
    font-weight: 400;
}


.schedule-profile-container {
    display: flex;
}

.schedule-profile-container i {
    font-size: 40px;
}

.sc-button-container {
    display: flex;
    justify-content: space-between;
}

.sc-button-container p {
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.sc-button-container p:nth-child(1) {
    background-color: aqua;
}

.sc-button-container p:nth-child(2) {
    color: white;
    background-color: #2e1065;
}

.prescription-container {
    display: flex;
    justify-content: space-between;
}